/*
 * SPDX-FileCopyrightText: Amolith <amolith@secluded.site>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

:root {
	--primary: hsl(224, 95%, 45%); /* Blue #0640e0 */
	--link: var(--primary);
	--text: hsl(0, 0%, 18%);
	--page-background: hsl(0, 0%, 100%);
	--card-border: hsl(0, 0%, 18%);
	--card-background: hsl(0, 0%, 97%);
	--action: hsl(100, 95%, 20%);
/*	--warning: hsl(20, 100%, 41%);*/
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: hsl(224, 100%, 67%);
		--text: hsl(0, 0%, 88%);
	    --page-background: hsl(0, 0%, 9%);
	    --card-border: hsl(0, 0%, 26%);
	    --card-background: hsl(0, 0%, 11%);
	    --action: hsl(100, 95%, 45%);
/*	    --warning: hsl(20, 100%, 51%);*/
	}

}
