/*
 * SPDX-FileCopyrightText: Amolith <amolith@secluded.site>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("/static/fonts/regular-102a.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url("/static/fonts/regular-102a.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url("/static/fonts/bold-102a.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src: url("/static/fonts/bolditalic-102a.woff2") format("woff2");
}

html {
    margin: auto auto;
    color: #2f2f2f;
    background: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #0640e0;
}

a:visited {
    color: #0640e0;
}

.two_column {
    display: flex;
    gap: 30px;
    flex-direction: row;
    margin: auto auto;
    max-width: 1000px;
    height: 92vh;
}

.projects, .release_notes {
    overflow: scroll;
    flex: 0 0 500px;
}

.release_note.card:not(:target) { display: none;  }
.release_note.card:target       { display: block; }

.return_to_project {
    display: none;
}

.card {
    border: 2px solid #2f2f2f;
    background: #f8f8f8;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card > h3 {
    margin-top: 0;
}

.card > p:first-of-type {
    margin-bottom: 16px;
}

.card > p:last-of-type {
    margin-bottom: 16px;
}

.close, .delete { float: right; }
.delete { font-size: 12px; }
.close > a {
    text-decoration: none;
    color: #2f2f2f;
}

.card > pre, .card > div > pre { overflow: scroll; }

.wrapper {
    max-width: 500px;
    margin: auto auto;
}

header > h1 > span {
    font-size: 12px;
    float: right;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #171717;
        color: #424242;
    }

    a {
        color: #5582ff;
    }

    a:visited {
        color: #5582ff;
    }

    .card {
        border: 2px solid #ccc;
        background: #1c1c1c;
    }

    .close > a {
        color: #ccc;
    }
}

@media only screen and (max-width: 1000px) {
    div[id] {
        display: block;
    }

    .two_column {
        flex-direction: column;
    }

    .projects, .release_notes {
        overflow: visible;
        flex: 0 0 100%;
    }

    .return_to_project {
        display: block;
    }

    .close {
        display: none;
    }
}

