/*
 * SPDX-FileCopyrightText: Amolith <amolith@secluded.site>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("/static/inter.woff2?v=3.19") format("woff2");
}

html {
    max-width: 500px;
    margin: auto auto;
    color: #2f2f2f;
    background: white;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
}

a {
    color: #0640e0;
}

a:visited {
    color: #0640e0;
}

.project {
    max-width: 500px;
    border: 2px solid #2f2f2f;
    background: #f8f8f8;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.project > h2 {
    margin-top: 0;
}

.project > p:first-of-type {
    margin-bottom: 16px;
}

.project > h2 > span {
    font-size: 12px;
    float: right;
}

body > h1 > span {
    font-size: 12px;
    float: right;
}

.project > details > pre {
    overflow: scroll;
}

summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #171717;
        color: #ccc;
    }

    a {
        color: #5582ff;
    }

    a:visited {
        color: #5582ff;
    }

    .project {
        border: 2px solid #ccc;
        background: #1c1c1c;
    }
}