/*
 * SPDX-FileCopyrightText: Amolith <amolith@secluded.site>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("/static/fonts/regular-102a.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url("/static/fonts/regular-102a.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url("/static/fonts/bold-102a.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src: url("/static/fonts/bolditalic-102a.woff2") format("woff2");
}

html {
	margin: auto auto;
	color: var(--text);
	background: var(--page-background);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	scroll-behavior: smooth;
}

a {
	color: var(--link);
}

a:visited {
	color: var(--link);
}

/* Grid layout */
body {
	width: auto;
	min-height: 100vh;
}

@supports (display: grid) {
	body {
		display: grid;
		grid-template-rows: [header] auto [main] 1fr [footer] auto;
	}

	body>header,
	body>main,
	body>footer {
		display: grid;
		grid-template-columns:
			[page-start] minmax(1em, 1fr) [content] minmax(240px, 100ch) [page-end] minmax(1em, 1fr);
	}

	body>main {
		grid-template-rows: [top-gutter] 1em [content] 1fr [bottom-gutter] 1em;
	}

	body>footer {
		grid-template-rows: [top-gutter] 2em [content] 1fr [bottom-gutter] 0.5em;
	}

	body>header {
		grid-template-rows: [top-gutter] 0.5em [content] 1fr [bottom-gutter] 0.5em;
	}

	header .wrapper,
	main .wrapper,
	footer .wrapper {
		grid-row: content;
		grid-column: content;
	}
}

/* End grid layout */

h3 {
	margin-block: 1rem 0.5rem;
}

h2,
p {
	margin-block-start: 0;
	margin-block-end: 1rem;
}

.wrapper h2 {
  margin: 0 0 1rem 0;
}

.wrapper h2:first-child {
  margin-top: 0;
}

.two_column {
	display: block;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
}

.project.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects {
	width: 100%;
}

.release_note.card:not(:target),
.release_note.card:target,
.return_to_project {
	display: none;
}

.card {
	position: relative;
	border: 2px solid var(--card-border);
	background: var(--card-background);
	border-radius: 5px;
	margin: 20px 0;
	padding: 20px 20px 0 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card>h3 {
	margin-top: 0;
}

.card>p:first-of-type {
	margin-bottom: 16px;
}

.card>p:last-of-type {
	margin-bottom: 16px;
}

.delete {
	float: right;
	font-size: 12px;
}

.close {
	position: absolute;
	top: 2px;
	right: 3px;
}

.close>a {
	font-size: 1em;
	text-decoration: none;
	color: var(--card-border);
}

@media (prefers-color-scheme: dark) {
	.close>a {
		color: var(--text);
	}
}

.card>pre,
.card>div>pre {
	overflow: scroll;
}

header .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

header h1 {
	margin-block: 1.2rem;
	color: var(--link);
}

header h1 a {
	text-decoration: none;
}

header h1 a:hover {
	border-bottom: 4px solid var(--link);
}

header nav {
	display: flex;
	justify-content: flex-end;
	align-content: baseline;
	flex: 1 1 auto;
	margin-block: 1.2rem;
}

header nav a,
header nav a:visited {
	display: block;
	text-decoration: underline;
	color: var(--text);
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1;
	border-radius: 0.5rem;
	padding: 0.6rem 0.5rem 0.4rem;
}

header nav a+a {
	margin-inline-start: 1rem;
}

header nav a:last-of-type {
	padding-inline-end: 0;
}

header nav a[href="/new"],
header nav a[href="/new"]:visited {
	text-decoration: none;
	color: var(--action);
	border-color: var(--action);
	background-color: transparent;
	border: 1px solid var(--action);
}

footer .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.release-notes-btn {
	background: none;
	border: none;
	color: var(--link);
	cursor: pointer;
	text-decoration: underline;
	padding: 0;
	font: inherit;
}

[popover] {
	margin: auto;
	width: min(800px, 90vw);
	max-height: 90vh;
	border: 2px solid var(--card-border);
	border-radius: 5px;
	padding: 0;
	background: var(--card-background);
	color: var(--text);
	overflow-y: auto;
}

[popover]:not(:popover-open) {
	display: none;
}

.popover-content {
	padding: 20px;
}

button[popovertarget] {
	padding: 6px 12px;
	background-color: var(--card-background);
	border: 1px solid var(--card-border);
	border-radius: 4px;
	color: var(--text);
	width: fit-content;
	margin: auto 0;
}

button[popovertarget]:hover {
	background-color: var(--card-border);
}

[popover]::backdrop {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}

/* Mobile responsiveness */
@media only screen and (max-width: 1000px) {
	[popover] {
		width: 95vw;
	}

	div[id] {
		display: block;
	}
}

@media (max-width: 850px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Forms */
form {
	width: 100%;
	max-width: 50ch;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

form label {
	font-weight: bold;
	padding-block-end: 0.2rem;
}

fieldset {
	position: relative;
	border: 0 none;
	background-color: var(--card-background);
	margin-inline: -1px;
	/* Line up with input boxes */
	margin-block-start: 1rem;
	padding-inline: 1rem;
}

fieldset legend {
	position: absolute;
	top: -1.5rem;
	left: 0;
	margin-inline: 1px;
	padding: 0;
	font-weight: bold;
}

fieldset h4 {
	margin-inline-start: 0.25rem;
	margin-block: 0.5rem;
}

.input {
	display: flex;
	flex-direction: column;
	margin-block-end: 1rem;
}

.input-wrapper label {
	padding-inline-start: 0.5rem;
}

.select-release .input {
	display: block;
}

.button {
	line-height: 1;
	padding: 0.6rem 0.5rem 0.4rem;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--action);
	background-color: var(--page-background);
	border: 1px solid var(--action);
	border-radius: 0.5rem;
	cursor: pointer;
}

form.login .button {
	margin-block-start: 0.75rem;
}

/* End Forms */

@media (prefers-reduced-motion) {

	*,
	*::before,
	*::after {
		animation-duration: 0s !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}